.list-table-format{
	display: grid;
	grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr ;
	align-items: center;
	gap:10px;
	padding: 12px 15px;
	border: 1px solid #cacacaca;
	font-size: 13px;


}
.list-table-format.title{
	background-color: #f9f9f9;
}
.list-table-format img{
	width: 50px;
	height: 50px;
	border-radius: 50%;	
}
@media(max-width: 600px){
	.list-table-format{
		grid-template-columns: 1fr 3fr 1fr;
		gap: 15px;
	}
	.list-table-format.title{
		display: none;
	}
}
.cursor{
	padding: 3px 0px;/*Espacio interno*/
    width: max(4.5vw,50px);
    background-color: rgb(231, 31, 31);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Transición suave */
    transition: all 0.3s ease-in-out;
}

/* Efecto al pasar el mouse */
.cursor:hover {
    background-color: red; /* Cambia el color */
    transform: scale(1.1); /* Aumenta un 10% el tamaño */
}

/* Efecto al hacer clic */
.cursor:active {
    transform: scale(0.95); /* Reduce un poco al hacer clic */
}
